groups:
  - name: node-alerts
    rules:
      - alert: NodeExporterDown
        expr: up{job="node-exporter"} == 0
        for: 2m
        labels:
          severity: critical
        annotations:
          summary: Exporter indisponível
          description: Node Exporter não respondeu por mais de 2 minutos.
